<!DOCTYPE html>
<html>
  <head>
    <title>
      <%=
        title = ENV['APPLICATION_NAME']
        page_title = yield(:title)

        title += " | #{page_title}" unless page_title.nil? || page_title.empty?

        title
      %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body>
    <%= react_component('common.NavigationBar') %>
  </body>

  <script>
    (function() {
      let atEnd = false;

      document.body.addEventListener("scroll", function (e) {
        if (e.target.scrollHeight - e.target.clientHeight - e.target.scrollTop < 100) {
          if (!atEnd) {
            document.dispatchEvent(new CustomEvent("ots.page_end_reached"));
            atEnd = true;
          }
        } else {
          atEnd = false;
        }
      });
    })();

    document.addEventListener("user.session_expired", function () {
      window.location.href = "/login";
    });

    <% if player_signed_in? %>
    window.currentUser = <%= current_player.to_json %>;
    window.isAuthenticated = !!window.currentUser;
    <% else %>
    window.currentUser = null;
    window.isAuthenticated = false;
    <% end %>
  </script>
</html>
