<!DOCTYPE html>
<html>
  <head>
    <title>
      <%=
        title = ENV['APPLICATION_NAME']
        page_title = yield(:title)

        title += " | #{page_title}" unless page_title.nil? || page_title.empty?

        title
      %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= react_component "common/NavigationBar" %>

    <div class="ot-body-wrap">
      <% if player_signed_in? %>
        <div id="current-user" data-current-user="<%= current_player.to_json %>"></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
